<div class="w3-container">
  <h2>ArtWork Card Example</h2>

  <div class="w3-card-4 card " style="width: 300px;">

    <div class="w3-container w3-center is-bold">
      <h3>{{ this.name }}</h3>
      <img src="{{ this.link }}" alt="Artwork" style="width:80%">
      <h5>{{ user.userName }}</h5>

      <div class="w3-section">
        <button class="button">Edit</button>
        <button class="button">Share</button>
      </div>
    </div>
  </div>
</div>