<div class="w3-container">
  <h2>ArtWork Card Example</h2>

  <div class="w3-card-4 card " style="width:20%; background-image: url('canvas.jpg');">

    <div class="w3-container w3-center is-bold">
      <h3>Artwork Name</h3>
      <img src="navbg.png" alt="Artwork" style="width:80%">
      <h5>User Name (ex.Cardi B) </h5>

      <div class="w3-section">
        <button class="button">Edit</button>
        <button class="button">Share</button>
      </div>
    </div>
  </div>
</div>