<header>
    <div class="header" style="height: auto;">
        <a href="/"><img href="" class="logo is-left" src="/assets/images/CBNEW.png"
                style="width: 20%; box-shadow: 2 2 3px;"></a>

        {{!-- {{#if username}} --}}
        <hr>
        <a href="/gallery" class="headerbuttons" style="font-size:medium"><strong>Cobalt Art Gallery</strong></a>
        <a href="/{{username}}" class="headerbuttons" style="font-size:medium"><strong>My Drawings</strong></a>
        <a href="/logout" class="headerbuttons" style="font-size:medium; background-color: white; "><strong>Log
                Out</strong></a>
    </div>
    {{!-- {{/if}} --}}
</header>
