<header class="hero is-link p-3">

    <div class="hero-body">
        {{!-- <a href="/" class="brand-logo">Colbalt Canvas</a> --}}
        <div class="columns">
            <div class="column">
                <p class="title">
                    <a href="/">Cobalt Canvas</a>
                </p>
            </div>
            <div class="column">
                <p class="subtitle">
                    Create and Collaborate
                </p>
            </div>
        </div>
    </div>

    <nav>
        <div class="nav-wrapper">
            <div class="columns">
                <div class="column is-4">
                    <a href="/drawing" class="button is-link is-light">
                        <strong>Cobalt Art Gallery</strong>
                    </a>
                </div>
                <div class="column is-4">
                    <div class="field is-grouped">
                        <p class="control is-expanded">
                            <input class="input" type="text" placeholder="Find artwork or artist">
                        </p>
                        <p class="control">
                            <a class="button is-link is-light">
                                <strong>Search</strong>
                            </a>
                        </p>
                    </div>
                </div>
                {{#if username}}
                <div class="column is-4">
                    <a href="/users/{{username}}" class="button is-link is-light">
                        <strong>My Drawings</strong>
                    </a>
                </div>
                {{/if}}
            </div>
        </div>
    </nav>
</header>


<script type="module" src="/assets/js/header.js"></script>