<header>
    <div class="header" style="height: auto;">
<img href="" class="logo is-left" src="/assets/images/logog.png" style="width: 20%;"></img>
<p class="title" style="color: white; font-size:medium"><strong>Create and Collaborate</strong></p>
<hr>
{{!-- {{#if username}} --}}
<button href="/drawing" class="" style="font-size:medium"><strong>Cobalt Art Gallery</strong></button>
<button href="/users/{{username}}" class="" style="font-size:medium"><strong>My Drawings</strong></button>
<input class="search input" style="font-size:medium" type="text" placeholder="Find artwork or artist"></input>
<button class="" style="font-size:medium"><strong>Search</strong></button>
</div>
    {{!-- {{/if}} --}}
</header>


<script type="module" src="/assets/js/header.js"></script>