<header class="hero is-link p-3">
  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="logog.png" alt="" width="20%" height="20%">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
    </a>
  </div>
</nav>
    <div class="hero-body">
        {{!-- <a href="/" class="brand-logo">Colbalt Canvas</a> --}}
        <div class="columns">
            <div class="column">
                <p class="title">
                    Cobalt Canvas
                </p>
            </div>
            <div class="column">
                <p class="subtitle">
                    Create and Collaborate
                </p>
            </div>
        </div>
    </div>

    <nav>
        <div class="nav-wrapper">
            <div class="columns">
                <div class="column">
                    <a class="button is-link is-light">
                        <strong>Cobalt Art Gallery</strong>
                    </a>
                </div>
                <div class="column">
                    <div class="field is-grouped">
                        <p class="control is-expanded">
                            <input class="input" type="text" placeholder="Find artwork or artist">
                        </p>
                        <p class="control">
                            <a class="button is-link is-light">
                                <strong>Search</strong>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="column">
                    <a class="button is-link is-light">
                        <strong>All User View</strong>
                    </a>
                </div>
            </div>
        </div>
    </nav>

</header>