<header>
    <div class="header" style="height: auto;">
<img href="" class="logo is-left" src="/assets/images/CBNEW.png" style="width: 20%; box-shadow: 2 2 3px;"></img>

{{!-- {{#if username}} --}}
<hr>
<button href="/drawing" class="" style="font-size:medium"><strong>Cobalt Art Gallery</strong></button>
<button href="/users/{{username}}" class="" style="font-size:medium"><strong>My Drawings</strong></button>
<button class="" style="font-size:medium; background-color: white; "><strong>Log Out</strong></button>
</div>
    {{!-- {{/if}} --}}
</header>


<script type="module" src="/assets/js/header.js"></script>
