<header class="hero is-link">
    <div class="hero-body">
        <div class="columns is-vcentered">
            <div class="column is-3">
                <p class="title">
                    <a href="/"><img src="/assets/images/logow.png" alt="cobalt logo" class="logo"></a>
                </p>
            </div>
            <div class="column is-6">
                <p class="subtitle is-size-1 has-text-weight-bold is-family-sans-serif">
                    Create and Collaborate
                </p>
            </div>
        </div>
    </div>
    {{#if username}}
    <nav class="navbar is-info is-vcentered">
        <div class="navbar-start">
            <div class="navbar-item">
                <a href="/drawings" class="button is-link is-light">
                    <strong>Cobalt Art Gallery</strong>
                </a>
            </div>
            <div class="navbar-item">
                <a href="/users/{{username}}" class="button is-link is-light">
                    <strong>My Drawings</strong>
                </a>
            </div>
            <div class="navbar-item">
                <a href="/drawings/new" class="button is-link is-light">
                    <strong>Create New Drawing</strong>
                </a>
            </div>
        </div>
    </nav>
    {{/if}}
</header>


<script type="module" src="/assets/js/header.js"></script>