<header class="hero is-link">

    <div class="hero-body">
        <p class="title">
            Welcome to Cobalt Canvas
        </p>
        <p class="subtitle">
            Create and Collaborate
        </p>
    </div>

    {{!-- <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Colbalt Canvas</a>
            <p>Create and Collaborate</p>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/users">Cobalt Art Gallery</a></li>
                <li><a href="/users/new">All Users View</a></li>
            </ul>
        </div>
    </nav> --}}

</header>