<button type="button" style="width: 100%; " class="collapsible fas fa-toolbox"></button>

<div class="icon-bar">
  <button href="#"><i id="icon" class="fas fa-share-alt"></i></button> 
  <button href="#"><i id="icon" class="fas fa-save"></i></button> 
  <button href="#"><i class="fas fa-file-plus"></i></button> 
  <button href="#"><i class="fas fa-undo-alt"></i></button>
  <button href="#"><i class="fas fa-redo-alt"></i></button> 
  <button href="#"><i class="fas fa-trash-alt"></i></button> 
  <button href="#"><i class="fas fa-edit"></i></button> 
  <button href="#"><i class="fas fa-window-close"></i></button>
  <button href="#"><i class="fas fa-eraser"></i></button> 
  <button href="#"><i class="fad fa-eye-dropper"></i></button> 
  <button href="#"><i class="fas fa-pen-fancy"></i></button> 
  <button href="#"><i class="fad fa-pencil-alt"></i></button>
  <button href="#"><i class="fas fa-paint-brush-alt"></i></button> 
  <button href="#"><i class="fas fa-highlighter"></i></button> 
  <button href="#"><i class="fas fa-brush"></i></button> 
  <button href="#"><i class="fas fa-paint-roller"></i></button>
  <button href="#"><i class="fas fa-palette"></i></button> 
  <button href="#"><i class="fas fa-fill-drip"></i></button> 
  <button href="#"><i class="fas fa-draw-circle"></i></button> 
  <button href="#"><i class="fas fa-draw-square"></i></button> 
</div>
    
<script type="module" src="/assets/js/canvas.js"></script>
<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />