{{!-- Leaving the width of the container for the stylist of the page --}}
{{!-- Needs Styling --}}
<h1>Welcome to Cobalt</h1>
<button class="button is-primary initialButtons">
    <strong>Create</strong>
</button>
<button class="button is-primary initialButtons">
    <strong>Log In</strong>
</button>

<div class="field creatingUser">
    <h1>Create a new user account.</h1>
    <label class="label">User Name</label>
    <div class="control">
        <input class="input" type="text" placeholder="Input User Name Here.">
    </div>
</div>

<div class="field is-grouped creatingUser">
    <div class="control">
        <button id="createUserSubmit" class="button">Submit</button>
    </div>
    <div class="control">
        <button class="button makeLogInForm">Log In</button>
    </div>
</div>

<div class="field logInUser">
    <h1>Login to your account.</h1>
    <label class="label">User Name</label>
    <div class="control">
        <input class="input" type="text" placeholder="Input User Name Here.">
    </div>
</div>

<div class="field is-grouped logInUser">
    <div class="control">
        <button class="button">Submit</button>
    </div>
    <div class="control">
        <button class="button makeCreateForm">Create User Name</button>
    </div>
</div>