<h1>Welcome to Cobalt</h1>
<a id="createForm" class="button is-primary">
    <strong>Create</strong>
</a>
<a id="logInForm" class="button is-primary">
    <strong>Log In</strong>
</a>

<div class="field">
    <h1>Creating a User Name.</h1>
    <label class="label">User Name</label>
    <div class="control">
        <input class="input" type="text" placeholder="Input User Name Here.">
    </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button">Submit</button>
  </div>
  <div class="control">
    <button id="logInForm" class="button">Log In</button>
  </div>
</div>