<h1>Single Artist Artwork</h1>
<button type="button" class="collapsible fas fa-toolbox "></button>

<div class="icon-bar content">

  <a href="#"><i role="button" class="button fas fa-eraser"></i></a> 
  <a href="#"><i role="button" class="button fad fa-eye-dropper"></i></a> 
  <a href="#"><i role="button" class="button fas fa-pen-fancy"></i></a> 
  <a href="#"><i role="button" class="button fad fa-pencil-alt"></i></a>
  <a href="#"><i role="button" class="button fas fa-paint-brush-alt"></i></a> 
  <a href="#"><i role="button" class="button fas fa-highlighter"></i></a> 
  <a href="#"><i role="button" class="button fas fa-brush"></i></a> 
  <a href="#"><i role="button" class="button fas fa-paint-roller"></i></a>
  <a href="#"><i role="button" class="button fas fa-palette"></i></a> 
  <a href="#"><i role="button" class="button fas fa-fill-drip"></i></a> 
  <a href="#"><i role="button" class="button fas fa-draw-circle"></i></a> 
  <a href="#"><i role="button" class="button fas fa-draw-square"></i></a>
</div>

<script type="module" src="/assets/js/canvas.js"></script>
<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />