{{> header }}
<div class="section">
    <div class="container">
        <h1>Gallery</h1>
        <div class="columns is-flex-wrap-wrap">
            {{#each drawings}}
            {{> drawings user=this.User name=name link=link id=id}}
            {{/each}}
        </div>
    </div>
</div>
