{{> header }}

<div class="section backgroundImage">
    <img src="/assets/images/gallery.png" class="rhead" style="width: 70%;" alt="">
    <div class="container">
        <div class="columns is-flex-wrap-wrap">
            {{#each drawings}}
            {{> drawings user=this.User name=name link=link id=id}}
            {{/each}}
        </div>
    </div>
</div>
