/* Header CSS */
/* =============================== */
/* .hero-body {
    background-image: url("../images/navbg.png");
} */
/* .logo {
    width: 100%;
} */
html {
  min-height: 100%;
  height: 100%;
}
.landingPageBG {
  background-image: url("../images/main3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100%;
}
.canvas {
  align-items: center;
  box-shadow: inset;
  border: #FEAE00;
  border-style: groove;
}
/* =============================== */
body {
  background-image: url("/assets/images/cbg3.jpg");
  background-size: cover;
  background-repeat: repeat;
  height: 100%;
  margin: 0;
  /* font-family: 'Poppins', sans-serif;*/
  font-weight: bolder;
}
.header {
  overflow: hidden;
  background-image: url("../images/navbg.png");
  padding: 20px 10px;
  text-align: center !important;
  height: auto !important; 
  background: cover;
  color: #FEAE00;
}
.icon-bar {
  width: 100%;
  background-color: #feae00;
  border-radius: 25px;
  overflow: auto;
  text-align: center;
  align-content: center;
  align-self: center !important;
}

.icon-bar button:hover {
  border-color: #000;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  background-color: #0096c7;
}
.icon-bar button:focus {
  background-color: #0096c7;
  outline: 0;
}
.rhead {
 
  padding-left: 30%;
}
button:visited {
  color: #0206b2;
}
.input {
  height: auto;
  width: 50%;
}
button:active {
  color: #0096c7;
}
button {
/* text-align: center !important;  */
height: 50%;
font-size: 20px;    
background-color: #FEAE00;
padding: 10px;
transition: all 0.3s ease;
border-radius: 5px;
color: #06065C;
/* align-content: center !important; */
}
.box {
  background-color: #feae00;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 20%;
  align-items: center;
  text-align: center;
  /* padding: 30px; */
}
.card{
  font-weight: bolder;
  font-size: medium;
  }
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  color: #feae00;
  border-radius: 25px;
  background-color: #03045c;
  cursor: pointer;
  padding: 8px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 50px;
  align-content: center !important;
  /*font-family: 'Poppins', sans-serif;*/
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .collapsible:hover {
 background-color: #ccc;
} */

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 8px;
  display: none;
  overflow: hidden;
  /*  background-color: #f1f1f1;*/
}

canvas {
  background-color: white;
}


.headerbuttons:visited {
  color: #0206b2;
}
.headerbuttons:active {
  color: #0096c7;
}
.headerbuttons {
/* text-align: center !important;  */
height: 50%;
font-size: 20px;    
background-color: #FEAE00;
padding: 10px;
transition: all 0.3s ease;
border-radius: 5px;
color: #06065C;
/* align-content: center !important; */
}
