.icon-bar {
    width: 60px;
    background-color: #FEAE00;
    border-radius: 25px;
  }
  
  .icon-bar a {
    display: block;
    text-align: center !important;
    padding: 6px;
    transition: all 0.3s ease;
    color: #0206B2;
    font-size: 36px;
    border-radius: 25px;
  }
  
  .icon-bar a:hover {
      border-color:#000;
      border-top-left-radius:2em;
      border-top-right-radius:2em;
      border-bottom-left-radius:2em;
      border-bottom-right-radius:2em;
    background-color: #0096C7;
  }
  .icon-bar a:focus {
    background-color: #0096C7;
      outline: 0;
  }    
  a:visited {
    color: #0206B2;
  }
  
  a:active {
    color: #0096C7;
  }
  button{
  text-align: center !important; 
  font-size: 36px;
  color: #0206B2;
  
  }
   
  
  
  /* Style the button that is used to open and close the collapsible content */
  .collapsible {
    color: #FEAE00;
    border-radius: 25px;
    background-color: #03045C;
    cursor: pointer;
    padding: 8px;
  /*  width: 100%;*/
    border: none;
    text-align: left;
    outline: none;
    font-size: 60px;
  }
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    /*  background-color: #ccc;*/
    }
    
    /* Style the collapsible content. Note: hidden by default */
    .content {
      padding: 0 8px;
      display: none;
      overflow: hidden;
    /*  background-color: #f1f1f1;*/
    }